$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;

$color-text-primary: #403f3d;
$color-text-inverse: #e1d4c9;
$color-text-accent: #b0907a;

$color-background-page: #e1d4c9;
$color-background-container: #665f55;
$color-background-overlay: #403f3d;

$color-border-primary: #c1b6ad;
$color-border-inverse: #665f55;

$color-text-primary-dark: #e1d4c9;
$color-text-inverse-dark: #e1d4c9;
$color-text-accent-dark: #b0907a;

$color-background-page-dark: #292826;
$color-background-container-dark: #403f3d;
$color-background-overlay-dark: #292826;

$color-border-primary-dark: #665f55;
$color-border-inverse-dark: #c1b6ad;
