$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;

$color-text-primary: var(--color-text-primary);
$color-text-inverse: var(--color-text-inverse);
$color-text-accent: var(--color-text-accent);

$color-background-page: var(--color-background-page);
$color-background-container: var(--color-background-container);
$color-background-overlay: var(--color-background-overlay);

$color-border-primary: var(--color-border-primary);
$color-border-inverse: var(--color-border-inverse);

$color-text-primary-dark: #e1d4c9;
$color-text-inverse-dark: #e1d4c9;
$color-text-accent-dark: #b0907a;

$color-background-page-dark: #292826;
$color-background-container-dark: #403f3d;
$color-background-overlay-dark: #292826;

$color-border-primary-dark: #665f55;
$color-border-inverse-dark: #c1b6ad;
