@use '../abstracts/placeholders' as *;
@use '../abstracts/varibles' as *;
@use '../abstracts/mixins' as *;

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 0 40px;
}

.header__navigation {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  transform: translateX(-50%);
}

.header__actions {
  display: flex;
  gap: 14px;
}

.theme-switch {
  width: 88px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  border-radius: 44px;
  border: 1px solid $color-border-primary;
}

.theme-switch__icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.theme-switch__icon-wrapper {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.theme-switch__icon-wrapper_selected {
  background: $color-text-accent;
}

.theme-switch__icon-wrapper {
  cursor: pointer;
}

.theme-switch__icon-wrapper_not-selected {
  opacity: 0.55;
}

.theme-switch__icon-wrapper_selected .theme-switch__icon {
  opacity: 1;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation__link {
  @extend %smooth-underline;
  white-space: nowrap;
}

.navigation__link:last-child {
  margin-right: 0;
}

.menu-link__link {
  display: flex;
  align-items: center;
  height: 20px;
  @extend %smooth-underline;
}

.menu-link {
  flex-shrink: 0;
}

.menu-link__icon {
  display: block;
  width: 72px;
  height: 28px;
  background: url('./img/menu-link/coffee-menu-light.svg') center / contain
    no-repeat;
}

body.theme-dark .menu-link__icon {
  background-image: url('./img/menu-link/coffee-menu-dark.svg');
}

@media (min-width: 769px) and (max-width: 900px) {
  .header__wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__navigation {
    margin-left: 0;
  }

  .navigation__link {
    margin-right: 8px;
  }

  .navigation__link:last-child {
    margin-right: 0;
  }
}

@media (min-width: 769px) and (max-width: 800px) {
  .navigation {
    font-size: 1.6rem;
  }

  .navigation__link {
    margin-right: 4px;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__navigation {
    position: absolute;
    z-index: 10;
    top: calc(100% + 12px);
    right: 20px;
    left: 20px;
    display: none;
    width: auto;
    margin-left: 0;
    flex-direction: column;
    gap: 32px;
    padding: 32px 24px;
    background-color: $color-background-page;
    border: 1px solid $color-border-primary;
    border-radius: 20px;
    transform: none;
  }

  .header_open .header__navigation {
    display: flex;
  }

  .navigation {
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .navigation__link {
    margin-right: 0;
  }

  .menu-link {
    display: none;
  }

  .header_open .menu-link {
    display: flex;
  }
}
